@page "/invoice"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
<h3>InvoiceEntry</h3>

<MudContainer>
    <MudForm @ref="form" @bind-IsValid="success">

    </MudForm>
</MudContainer>

@code {

    private Order model = new();
    bool success;
    MudForm form;

    private void ValidateLogin(EditContext context)
    {
        
    }
}
